* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  background-color: #0a1122;
}

.header_text {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 7px;
  gap: 10px;
}

.text-center {
  text-align: inherit;
  text-wrap: pretty;
  padding: 7px;
}

.form_bg,
.form_section {
  width: 35dvw;
  height: 90dvh;
  display: flex;
  margin-top: 5dvh;
  gap: 20px;
  box-shadow: rgba(255, 255, 255, 0.007) 0 2px 1px,
    rgba(255, 254, 254, 0.041) 0 4px 2px, rgba(0, 0, 0, 0.007) 0 8px 4px,
    rgba(255, 253, 253, 0.09) 0 16px 8px, rgba(255, 251, 251, 0.021) 0 32px 16px;
}

.form_section {
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  color: #000;
  background-color: #fff;
}

.form_bg {
  justify-content: flex-end;
  align-items: start;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  background-image: url(/public/images/login.jpg);
  background-size: cover;
}

.nav_div {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home_div a,
.nav_div a {
  color: #fff;
  text-decoration: none;
}

.home_div {
  margin: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.home_div a {
  color: #070707;
}

.home_div a:hover,
.nav_div a:hover {
  transition: all 300ms;
  color: #8bc959;
  text-decoration: underline;
}

.nav_div a:hover {
  color: #ff8e8e;
}
