* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.table {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: forestgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .card {
  border: solid 2px black;
  position: relative;
  bottom: 10px;
} */

.ia_card_section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.ia_card {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ia_number p {
  border: 1px solid;
  padding: 3px;
  border-radius: 100%;
  background-color: yellow;
}

/* player */
.user_card_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* background-color: rgb(136, 182, 182); */
}
.player_desk {
  /* background-color: aqua; */
  width: 200px;
  height: 180px;
  display: flex;
  position: relative;
}
.player_desk img {
  width: 180px;
  position: absolute;
}
.btn_section {
  padding-top: 30px;
  display: flex;
}
.btn_section button {
  border-radius: 8px;
  padding: 2px;
  margin: 5px;
}

.player_number p {
  width: 40px;
  height: 40px;
  border: 1px solid;
  padding: 3px;
  border-radius: 100%;
  background-color: yellow;
}



.player_ui {
  position: absolute;
  left: 5%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background-color: burlywood;
}

header {
  display: flex;
  background-color: gray;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: auto;
  height: 50px;
}
header div {
  margin: 30px;
}
