* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: inherit;
}

.container,
.table,
header,
nav {
  display: flex;
  align-items: center;
}

.container,
body {
  width: 100dvw;
  height: 100dvh;
}

.container {
  flex-direction: column;
  justify-content: space-around;
  background-color: #0a1122;
}

.table,
header,
nav {
  justify-content: space-evenly;
}

.table {
  width: 1000px;
  height: 600px;
  background-color: #172646;
  background-image: url(/public/images/tables/greenfond.jpg);
  box-shadow: #5f3a0b 0 0 0 3px, #5f3a0b 0 0 0 6px, #5f3a0b 0 0 0 9px,
    #5f3a0b 0 0 0 12px, #5f3a0b 0 0 0 25px;
  border-radius: 39%;
  flex-direction: column;
}

header,
nav {
  width: 100%;
}

nav {
  width: 20%;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  font-style: inherit;
}

nav a {
  background-color: #fff;
}

nav a,
nav img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.action_btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.money_btn button {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  border-color: #fff;
}

.money_btn button img {
  background-size: cover;
  width: 100%;
}

.money_btn :nth-child(1) img {
  filter: grayscale(10) opacity(0.5);
}

.money_btn :nth-child(2) img {
  filter: hue-rotate(181deg);
}

.money_btn :nth-child(3) img {
  filter: hue-rotate(241deg);
}

.money_btn :nth-child(4) img {
  filter: hue-rotate(0deg);
}

.money_btn :nth-child(5) img {
  filter: grayscale(1) brightness(0.5);
}

.money_btn :nth-child(6) img {
  filter: hue-rotate(61deg);
}

.money_btn :nth-child(7) img {
  filter: sepia();
}

.action_btn button {
  background-color: #8bc959;
}

.action_btn :nth-child(1) {
  background-color: #ff8e8e;
}

.action_btn button {
  border-color: #fff;
  font-size: 18px;
  color: #fff;
  padding: 8px 18px;
  box-shadow: rgba(255, 255, 255, 0.911) 0 5px;
  border-radius: 50px;
}

.action_btn button:disabled {
  background-color: #979797;
}

.player_bid {
  background-color: #4b6587;
  border-radius: 50px;
}

.bid_input {
  text-align: justify;
  height: 50%px;
  width: 20%;
}

.logo,
a,
button {
  opacity: 1;
  transition: opacity 1s ease 0s;
}

button:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0 0 0 3px;
  opacity: 0.68;
}

a:hover {
  background-color: #ff8e8e;
  opacity: 0.68;
}

.logo:hover {
  color: #ff8e8e;
  opacity: 0.68;
}

.cards_container {
  width: 100%;
  display: flex;
}

.cpu_desk {
  min-height: 170px;
}

.cpu_desk :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player_desk .cards_container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* split */
.split {
  flex-direction: row !important;
  justify-content: flex-end;
}

.split .cartesSplit {
  width: 80px;
  height: 120px;
  margin-bottom: 10px;
}

.split .cartesSplit img {
  transform: translateX(-20px);
  position: absolute;
}

.split .rightHand,
.split .leftHand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.split .action_btn {
  width: 100%;
}

.split button {
  font-size: 12px !important;
  padding: 4px 10px !important;
  margin: 2px;
  background-color: #8bc959 !important;
}



.player_ui .ui_money {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
}

.player_desk {
  width: 200px;
  height: 180px;
  display: flex;
  position: relative;
}

.cards_container img {
  width: 120px;
}

.player_desk img {
  position: absolute;
}

.cpu_desk img {
  margin: 0 -20px;
}

.ia_card_section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 600px;
}

/* .cartes_back {
  transform: translateX(-70%);
} */

.ia_card {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ia_number p {
  border: 1px solid;
  padding: 3px;
  border-radius: 100%;
  background-color: #ff0;
}

.score_container {
  background-color: #ff8e8e;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
}

.message_modal {
  width: 30dvh;
  height: fit-content;
  padding: 15px;
  border-radius: 15px;
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.message_modal p {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 10px;
}

.message_modal button {
  border-color: #fff;
  font-size: 12px;
  padding: 8px 18px;
  box-shadow: rgba(255, 255, 255, 0.911) 0 5px;
  border-radius: 50px;
}

.message_modal div :nth-last-child(2) {
  background-color: #8bc959;
  color: #fff;
}

.message_modal div :nth-last-child(1) {
  background-color: #4b6587;
  color: #fff;
}

.hidden {
  display: none;
}

.card-hidden {
  background-image: url(/public/images/cartes/card_back.png) !important;
}

.btnMoney {
  position: relative;
  cursor: pointer;
}

.btnMoney .position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}